/* 共通のスタイル */

.section-ttl {
  font-size: 24px;
}

.sub-ttl {
  font-size: 12px;
}

.flex {
  display: flex;
}

.around {
  justify-content: space-around;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  cursor: pointer;
}

.between {
  justify-content: space-between;
}

/* 固有のスタイル */

.header{
  height: 70px;
  background-color: black;
}

.header-logo,
.footer-logo {
  font-size: 18px;
  font-weight: bold;
  color: white;
  line-height: 70px;
  margin-left: 30px;
}

.header-nav li,
.footer-nav li {
  display: inline-block;
  margin-right: 30px;
  line-height: 70px;
}

.header-nav a,
.footer-nav a {
  text-decoration: none;
  color: white;
  font-size: 12px;
}

.header-nav a:hover,
.footer-nav a:hover {
  color: #cccccc;
}

.eyecatch {
  background: url(../img/eyecatch.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 720px;
  position: relative;
}

.eyecatch-txt {
  font-size: 48px;
  font-weight: bold;
  font-style: italic;
  color: white;
  position: absolute;
  top: 60%;
  left: 10%;
  text-align: center;
}

.news {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 50px;
}

.news-ttl {
  background-color: white;
  width: 80%;
}

.news-ttl-date {
  padding: 2px 0 8px 2px;
  font-size: 12px;
}

.news-ttl-cont{
  padding-left: 10px;
}

.news-ttl-cont-txt {
  color: black;
  text-decoration: none;
  font-size: 12px;
}

.news .btn {
  background-color: black;
  color: white;
  border: none;
  width: 20%;
}

.news-ttl-cont-txt:hover {
  cursor: pointer;
}

.mission {
  height: 400px;
  background-color: black;
  position: relative;
  margin-bottom: 150px;
}

.mission-txt {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(0, -50%);
}

.mission-txt .section-ttl {
  color: white;
  padding-bottom: 20px;
}

.mission-txt-cont {
  color: white;
  font-size: 12px;
  line-height: 1.5em;
  padding-bottom: 15px;
}

.mission-txt .btn {
  background-color: white;
  border: none;
  padding: 5px 15px;
}

.mission-img {
  height: 350px;
  position: absolute;
  bottom: -40px;
  right: 50px;
}

.service {
  background-color: #cecece;
}

.service .section-ttl {
  text-align: center;
  padding: 15px 0;
}

.service-img {
  width: 50%;
  position: absolute;
}

.service-txt {
  box-sizing: border-box;
  width: 40%;
  padding: 70px;
  background-color: white;
  font-size: 12px;
  position: absolute;
}

.service-txt-cont {
  padding-top: 10px;
  line-height: 1.5em;
}

.service-txt .btn {
  background-color: white;
  padding: 5px 15px;
  border: solid 1px black;
  display: block;
  margin: 10px 0 0 auto;
}

.service1 {
  position: relative;
  height: 700px;
}

.service2 {
  position: relative;
  height: 620px;
}

.service1 .service-img {
  top: 0;
  right: 0;
}

.service1 .service-txt {
  top: 100px;
  right: 40%;
}

.service2 .service-txt {
  top: 100px;
  left: 40%;
}

.info-conts {
  padding: 150px 0;
}

.company,
.recruit {
  display: block;
  background-size: cover;
  background-position: center;
  width: 48%;
  height: 250px;
  position: relative;
  color: white;
  text-decoration: none;
}

.company{
  background-image: url(../img/company.jpeg);
}

.recruit {
  background-image: url(../img/recruit.jpg);
}

.center-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.center-txt .section-ttl {
  line-height: 1.5em;
}

.faq {
  background-color: black;
  width: 80%;
  box-sizing: border-box;
  margin: 0 auto 150px;
  padding: 30px;
  display: flex;
  color: white;
  text-decoration: none;
}

.faq .sub-ttl {
  line-height: 24px;
  flex-grow: 1;
  text-align: center;
}

.contact {
  background: url(../img/contact-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  color: white;
  position: relative;
}

.contact .section-ttl {
  line-height: 1.5em;
}

.b-txt {
  font-size: 24px;
  padding: 20px 0;
}

.s-txt {
  font-size: 12px;
  padding-bottom: 20px;
}

.contact .btn {
  background-color: transparent;
  border: solid 1px white;
  color: white;
  padding: 5px 15px;
}

.footer {
  height: 90px;
  background-color: black;
  text-align: center;
  color: white;
}

.copy-right {
  font-size: 12px;
}

/* resopnsive */

@media screen and (max-width: 480px){
  .hamberger{
    position: absolute;
    cursor: pointer;
    top: 35px;
    right: 20px;
    transform: translate(0, -50%);
    width: 40px;
    height: 40px;
  }

  .hamberger-border{
    position: absolute;
    left: 2.5px;
    display: block;
    width: 35px;
    height: 2px;
    background-color: white;
  }

  .hamberger-border:nth-of-type(1){
    top: 10px;
  }

  .hamberger-border:nth-of-type(2){
    top: 20px;
  }

  .hamberger-border:nth-of-type(3){
    top: 30px;
  }

  .header-nav,
  .footer-nav{
    display: none;
  }

  .eyecatch-txt{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .news{
    width: 100%;
    min-height: 50px;
    height: auto;
  }

  .mission{
    margin-bottom: 30px;
  }

  .mission-txt .section-ttl{
    line-height: 1.5em;
  }

  .mission-img{
    height: 100px;
  }

  .service1,
  .service2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    padding-bottom: 60px;
  }

  .service-img{
    width: 90%;
    position: static;
  }

  .service-txt{
    width: 90%;
    position: static;
    padding: 10px;
  }

  .info-conts{
    flex-wrap: wrap;
    padding: 50px 0;

  }

  .company,
  .recruit{
    width: 100%;
  }

  .faq{
    width: 96%;
    margin: 0 auto 50px;
  }

  .contact .center-txt{
    width: 80%;
  }

  .s-txt{
    padding-bottom: 40px;
  }

  .footer-txt{
    justify-content: center;
  }

  .footer-logo{
    margin: 0;
  }
}